<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Examples.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MarkdownParseKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D898DF651C9FE84500A88502</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D898DFB81C9FE99600A88502</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D898DFE21C9FED1D00A88502</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D898DFEF1C9FED7200A88502</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
